@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
	margin: 0;
	padding: 0;
	display:flex;
	font-family: 'Open Sans', sans-serif;
	/*font-size:0.8em;*/
	font-size:12px;
}



/* total width */
::-webkit-scrollbar {
    background-color:rgba(0,0,0,0);
    width:20px;
    display:none;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:rgba(255,255,255,0.5);
    border-radius:16px;
    border:7px solid #4F5D80;
}

* {
	box-sizing: border-box;
	/*transition: all 0.3s ease;*/
	/*border: 1px solid black;*/
}
*:focus {
    outline: none;
}

nav, .rightside, main, article {
	height:100vh;
	/*font-size:0.8em;*/
}
nav, main, article {
	/*padding: 30px;*/
}
nav, main {
	color:white;
}
nav {
	width: 200px;
	background-color:#4169CC;
	flex: 0 1 auto;
}
.nav_logo {
	padding:30px;
	height:100px;
	font-size:2.8em;
	/*box-shadow: 0px 20px 20px rgba(0,0,0,0.2);*/
	font-weight:700;
	background-color:#5181FF;
}
.nav_links {
	padding:0 30px 0 30px;
	/*padding-top:30px;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:0px;*/
	overflow-y:auto;
	overflow-y: overlay;
	overflow-x:hidden;
	height:calc(100vh - 100px - 40px);
}
.nav_link {
	display:block;
	padding-top:30px;
	padding-bottom:30px;
	border-bottom:1px solid rgba(255,255,255,0.2);
	position: relative;
	/*transition:all 0.3s ease;*/
}
.nav_delete {
	position:absolute;
	cursor:pointer;
	right:0;
	color:rgba(255,255,255,0.5);
	transition:all 0.3s ease;
}
.nav_delete:hover {
	color:white;
}
.nav_create {
	height:40px;
	width:100%;
	background:#5181FF;
	display:flex;
}
.nav_create_input {
	background: 0;
    border: 0;
    color: white !important;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    float: left;
    width:170px;
    /*flex: 1;*/
    font-family: inherit;
}
.nav_create_input::placeholder {
	color:rgba(255,255,255,0.5);
}
.nav_create_button {
	font-size: 30px;
    /* line-height: 0; */
    /*flex:1;*/
    width: 30px;
    height: 40px;
    /* background-color: black; */
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    opacity:0.5;
}
.nav_create_button:hover {
	opacity:1;
}
.nav_link_text {
	cursor:pointer;
	transition:all 0.3s ease;
	display:inline-block;
	word-wrap: normal;
	word-break: keep-all;
	white-space:nowrap;
}
.nav_link_text:hover {
	color: rgba(255,255,255,0.5) !important;
}
.nav_link:last-of-type {
	border:0;
}
.nav_link > span:first-line {
	font-size:1.5em;
	font-weight:300;
}
.nav_link_active::after {
	content: "";
    height: 75px;
    display: block;
    position: absolute;
    width: 3px;
    margin-left: -30px;
    margin-top: -55px;
    background-color: white;
    z-index: 5;
}
.nav_link_active > span:first-line {
	font-weight:600;
}
.nav_link_active::before {
	transform: rotate(45deg);
    content: "";
    height: 20px;
    display: block;
    position: absolute;
    width: 20px;
    margin-left: 160px;
    margin-top: 10px;
    background-color: #434f6d;
    z-index: 5;
}

.rightside {
	width:100%;
	display:flex;
	flex: 1;
}

main {
	flex: 1;
	background-color:#4F5D80;
	/*padding:30px;*/
	
}
.main_top {
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding:30px;
	height:100px;
	/*vertical-align: bottom;*/
	width:100%;
	/*border-bottom:1px solid rgba(255,255,255,0.5);*/
}
.main_title {
	font-size:2em;
	font-weight:300;
}
.main_search {
	display:none;
}
.main_newbutton {
	font-size:30px;
	color:rgba(255,255,255,0.5);
	transition:all 0.3s ease;
	cursor: pointer;
}
.main_newbutton:hover {
	color:white;
}
.main_articles {
	padding-left:30px;
	padding-right:30px;
	overflow-y:auto;
	overflow-y: overlay;
	height: calc(100vh - 100px);
	background-color: #434f6d;
	overflow-x:hidden;
}
.main_article {
	padding-top:30px;
	padding-bottom:30px;
	padding-left:15px;
	padding-right:15px;
	border-bottom:1px solid rgba(255,255,255,0.2);
	display:flex;
	align-items: center;
	height:100px;
	position: relative;
	/*cursor:pointer;*/
	justify-content: space-between;
}
.main_article:hover {
	/*color: #bbb !important;*/
	/*color:rgba(255,255,255,0.5);*/
}
.main_article:last-of-type {
	border-bottom:0;
}
.main_article_active {
	box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.2);
    border: 0;
}
.main_article_active::after {
	content: "";
    height: 1px;
    display: block;
    position: absolute;
    width: calc(((100vw - 200px) / 2) - 60px);
    margin-left: -15px;
    margin-top: -31px;
    background-color: #434f6d;
    z-index: 5;

    margin-top:-50.5px;
    width: calc(100%);
}
.main_article_active::before {
	transform: rotate(45deg);
    content: "";
    height: 20px;
    display: block;
    position: absolute;
    width: 20px;
    margin-left: calc(100% + 7px);
    margin-top: 10px;
    background-color: white;
    z-index: 5;
}

.main_article_left {
	width:30px;
	margin-right:15px;
}
.main_article_right {
	flex:1;
	cursor:pointer;
	transition:all 0.3s ease;
}
.main_article_delete {
	cursor:pointer;
	transition:all 0.3s ease;
	color:rgba(255,255,255,0.5);
}
.main_article_delete:hover {
	color:white;
}
.main_article_right:hover {
	color:rgba(255,255,255,0.5);
}
.main_article_icon {
	/*float:left;*/
	/*margin-right:15px;*/
	width:30px;
	height:30px;
	/*background-color:white;*/
	border-radius: 50%;
	overflow:hidden;
	pointer-events: none;
	font-size:2.5em !important;
}
.main_article_title {
	font-weight: bold;
}
.main_article_author {

}
article {
	flex: 1;
	overflow-y: auto;
	padding:30px;
	color:#434f6d;
	transition: all 0.8s ease;
}
.article_post {
	padding-bottom:30px;
	min-width: 100px;
}
.article_reply {
	padding-top:30px;
	min-width: 100px;
}
.article_reply_break {
	height:1px;background-color:rgba(0,0,0,0.2);box-shadow: 0;border : 0;
}
.article_reply_break:last-of-type {
	display:none;
}
.article_createreply {
	/*border-top:1px solid rgba(0,0,0,0.2);*/
}
article > div:last-of-type {
	border:0;
}
article > div {
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.article_createreply_content {
	 height:98px;
	 overflow-y:hidden;
}
.article_createreply_content {
	transition: all 0s ease !important;
	min-height: 100px;
	resize: none;
	width: 100%;
	/*padding: 12px;*/
	border: 1px solid rgba(0,0,0,0);
	/*border-radius: 5px;*/
	box-sizing: border-box;
	/*margin-top: 6px;*/
	/*margin-bottom: 16px;*/
	/*margin-bottom:var(--margin-align);*/
	/*resize: vertical;*/
	/*border:0;*/
	font-family: inherit;
	/*font-size:0.85rem;*/
	font-size: inherit;
	padding:0;
}
.article_createreply_content:hover {
	border-bottom: 1px solid #f2f2f2;
}
.article_createreply_content:active {
	border-bottom: 1px solid #cccccc;
}