@media only screen and (min-width: 850px) {
	main {
		margin-left:calc((100% - 800px) / 2);
	}
}
@media only screen and  (max-width: 849px) {
	main {
		margin-left:var(--margin-align);
		margin-right:var(--margin-align);
	}
}

nav {
	width:100%;
	padding:var(--margin-align);
	display:flex;
	justify-content: space-between;
	background-color:#f2f2f2;
	margin-bottom:50px;
	border-bottom: 1px solid #cccccc;
}
.logo {
	/*float:left;*/
	font-size:1.2rem;
	cursor:pointer;
}
.navlinks {
	/*float:right;*/
	display:flex;
}
.navlink {
	margin-right:20px;
	cursor:pointer;
}
.navlink:last-of-type {
	margin-right:0;
}

body {
	--margin-align: 25px;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	width:100%;
	font-size:1rem;
}
* {
	box-sizing: border-box;
	/*border: 1px solid black;*/
	transition: all 0.3s ease;
}
*:focus {
    outline: none;
}

main {
	--main-width: 800px;
	/*--main-margin: 20px;*/
	max-width: var(--main-width);
}
.pagetitle {
	font-size:2.5rem;
	/*font-weight: ;*/
	margin-bottom:50px;
	display:block;
}

#new_title {
	font-size:1.2rem;
	font-weight:bold;
	margin-bottom: calc(var(--margin-align) - 5px);
	padding-bottom:5px;
}
textarea {
	transition: all 0s ease !important;
	min-height: 100px;
	resize: none;
}

input[type=text], input[type=submit], select, textarea {
	width: 100%;
	/*padding: 12px;*/
	border: 1px solid rgba(0,0,0,0);
	/*border-radius: 5px;*/
	box-sizing: border-box;
	/*margin-top: 6px;*/
	/*margin-bottom: 16px;*/
	margin-bottom:var(--margin-align);
	/*resize: vertical;*/
	/*border:0;*/
	font-family: inherit;
	font-size:0.85rem;
}

input[type=text]:hover, textarea:hover {
	border-bottom: 1px solid #f2f2f2;
}

input[type=text]:active, textarea:active {
	border-bottom: 1px solid #cccccc;
}

input[type=submit] {
	/*-webkit-appearance: button;*/
	border-radius:4px;
	background-color:#007bff;
	color:white;
	border:0;
	cursor:pointer;
	margin:0;
	padding:12px;
	border-radius: 5px;
}
input[type=submit]:hover {
	background-color:#006fe6;
}

h1, h2, h3, h4, h5 {
	line-height: 1;
	margin:0;
	padding:0;
	display:inline-block;
}

h3 {
	margin-bottom:var(--margin-align);
	font-size:1.2rem;
}
h4 {
	margin-bottom:var(--margin-align);
	margin-top:var(--margin-align);
	font-size:1.2rem;
	/*display:none;*/
	color:white;
}

.form {
	border-radius: 5px;
	/*background-color: #f2f2f2;*/
	border-radius: 5px;
	/*border: 1px solid #f2f2f2;*/
	padding: var(--margin-align);
	margin-bottom:50px;
	border: 1px solid #cccccc;
}

.post {
	margin-bottom:50px;
	border-radius: 5px;
 	border: 1px solid #f2f2f2;
	padding: var(--margin-align);
	border: 1px solid #cccccc;
}
.bar {
	margin-top: calc(-1 * var(--margin-align));
    margin-left: calc(-1 * var(--margin-align));
    margin-right: calc(-1 * var(--margin-align));
    margin-bottom: 2rem;
    padding: 15px var(--margin-align) 15px var(--margin-align);
    background-color: #f2f2f2;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #cccccc;
}

.replieshide {
	/*max-height: calc(1.2em + 60px);*/
	max-height: calc(1.2em + 30px);
	/*max-height: 1.2rem;*/
}
.repliesshow {
	max-height: 1000px;
}

.replies {
	margin-top:var(--margin-align);
	border-radius: 5px;
 	/*border: 1px solid #f2f2f2;*/
	/*padding: var(--margin-align);*/
	overflow: hidden;
	transition: all 0.5s ease !important;
}
.reply {
	margin-bottom:var(--margin-align);
	border-radius: 5px;
 	border: 1px solid #f2f2f2;
	padding: var(--margin-align);
	border: 1px solid #cccccc;
}
.reply:last-of-type {
	margin-bottom:0;
}
.datetime {
	float:right;
}

/* toggle arrow */
/* from https://codepen.io/simonbreiter/pen/oLJAKy */

.toggle {
	float:right;
	cursor: pointer;
	display:inline-block;
	padding:12px;
	border-radius:5px;
	border:1px solid #007bff;
	color:#007bff;
	font-size: 0.85rem;
}

.toggle:hover {
	background-color:#007bff;
	color:white;
}
.toggle:hover > .arrow span {
	background-color:white;
}

.arrow {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  /*margin: 0 1rem;*/
  margin-left:10px;
}
.arrow span {
  top: 0.6rem;
  position: absolute;
  width: 0.6rem;
  height: 1px;
  background-color: #007bff;
  display: inline-block;
  /*transition: all 0.3s ease;*/
  border-radius:5px;
}
.arrow span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.arrow span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arrow.active span:first-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arrow.active span:last-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}